body{
    background-color: black;
}
.sidenav{
    height: 100%;
    width: 200px;
    background-color: black;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
}
.sidenav a{
    margin-top: 50px;
    margin-left: 20px;
    display: block;
    color: silver;
    text-decoration: none;
}
.sidenav a:hover{
    color: white;
}
.sidenav img{
    margin-top: 20px;
    margin-left: 20px;
    width: 150px;
}

.main{
    justify-content: center;
}
#info{
    width: 1000px;
    height: 70%;
    margin: 0 auto;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 1s all ease;
}
#info.active{
    transform: translateX(0);
    opacity: 1;
  }
#top{
    width: 1000px;
    margin: 0 auto;
}
#top img{  
    margin-top: 50px;
}
#info h4{
    font-family: "Sofia", sans-serif;
    font-size: 20px;
    font-weight: lighter;
    animation-duration: 1s;
    animation-name: glissement;
    animation-iteration-count: inherit;
}
#info h2{
    font: 2vw/1 Permanent Marker;
    animation-duration: 1s;
    animation-name: glissement;
    animation-iteration-count: inherit;
}
#info p{
  animation-duration: 2s;
  animation-name: glissement;
  animation-iteration-count: inherit;
}
@keyframes glissement {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
#work{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
#work.active{
    transform: translateY(0);
    opacity: 1;
  }
#work h4{
    font-family: "Sofia", sans-serif;
    font-weight: lighter;
}
#work img{
    padding: 10px;
    margin: 0 auto;
    height: 250px;
    width: 150px;
}
#activity{
    margin: 0 auto;
    text-align: center;
    width: 800px;
    height: 400px;
    visibility: hidden;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  #activity:target{
    visibility: visible;
    margin-top: 100px;
  }
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 35px;
    /*width: 30%;*/
    position: relative;
    transition: all 1s ease;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #111;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: red;
  }
  .popup .close:hover {
    color: hsl(352, 95%, 44%);
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  .p-content{
    font-family: "Sofia", sans-serif;
    font-size: large;
    color: black;
  }
#activity h4{
    font-family: "Sofia", sans-serif;
    font-weight: lighter;
}
hr.new{
    border-top: 1px dashed red;
}
.tint:before {
    background: rgba(0, 0, 255, 0.5);
  }
  .main:after{
    content: "";
    display: table;
    clear: both;
}
.footer{
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    background: #ddd;
    opacity: 0;
    transition: 1s all ease;
}
.footer div{
    margin-top: 100px;
}
.footer.active{
    height: 400px;
    align-items: center;
    transform: translateY(0);
    opacity: 1;
  }
h1, h2, h4, a, p{
    color: #ddd;
}
#man{
    width: 200px;
    height: 350px;
    margin-left: 200px;
    margin-top: 100px;
    position: fixed;
    animation: fadeIn 3s infinite;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @media only screen and (max-width: 620px) {
    .sidenav {
      height: 80px;
      width: 100%;
    }
    .sidenav a{
        display: inline;
    }
    .sidenav img{
        height: 80px;
    }
  }
